option_settings:
  aws:elasticbeanstalk:container:java:
    Xmx: 256m
    Xms: 256m
    JVMOptions: "-Dspring.profiles.active=production"
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: production
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
    HealthCheckURL: /actuator/health